@import url('http://fonts.googleapis.com/css?family=Ubuntu&subset=cyrillic,latin');

/* reset v.0.003 beta :-) */

/* START reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,
abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,
strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,
figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,
time,mark,audio,video{margin:0;padding:0;border:0;vertical-align:baseline;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,
header,aside{display:block;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
sup{vertical-align:text-top;}
a,label,button,input[type='button'],input[type='checkbox'],input[type='radio'],
input[type='image'],input[type='reset'],input[type='submit']{cursor:pointer;}
/* END reset */

/* START global */
html,body{min-height:100%;height:100%;}
html{background:url("../image/bg.jpg") repeat #26262A;}
body{color:#ddd;font:100%/150% Ubuntu, Droid Sans, Tahoma, Verdana, Arial, sans-serif;width:100%;margin: 0 auto;}

a {
	color: #099;
	text-decoration: none;
}
a:hover {
	color: #f06;
	text-decoration: underline;
}

h1,h2,h3,h4,h5,h6 {font-weight:normal;line-height:1.5em;text-align:center;margin: 2em 0 1em;}
h1{font-size:1.8em;line-height: 1.67em;margin: 2.1em 0 1.2em;}
h2{font-size:1.6em;line-height: 1.873em;margin:1.9em 0 .9em;}
h3{font-size:1.4em;line-height: 2.145em;margin:2.11em 0 1.1em;text-align:left;}
h2 + h3 {margin:1.1em 0;}
h4{font-size:1.2em;}
h5{font-size:1em;}
h6, footer{font-size:.8em;}

p {
	margin-top: 1.5em;
	text-align:justify;

	-moz-hyphens: auto;
	-khtml-hyphens: auto;
	-webkit-hyphens: auto;
	-o-hyphens: auto;
	-ms-hyphens: auto;	
	hyphens: auto;
}

table, tr, th, td {border: 1px solid #D6D6D6;}
table {margin: 10px 0;}
th {background-color: #F5F5F5;}
th, td {padding: 2px 10px;}

hr {
	border: 1px dashed #464646;
	border-width: 1px 0 0;

	margin-top: 1.5em;
	margin-top: -moz-calc(1.5em - 1px);
	margin-top: -khtml-calc(1.5em - 1px);
	margin-top: -webkit-calc(1.5em - 1px);
	margin-top: -o-calc(1.5em - 1px);
	margin-top: -ms-calc(1.5em - 1px);
	margin-top: calc(1.5em - 1px);
}
/* END global */

body > header, #install li a, #index_menu li a {
	border-top: rgba(0,0,0,.5);					border-bottom: rgba(0,0,0,.5);
	background-color:rgba(0,0,0,.5);			display: inline-block;
	width: 100%;								margin: 2em 0;
	box-shadow: 0 0 5px #000 inset;
}
body > header h1 {
	width: 40%;
	float: left;
	margin: 0px;
	color: #099;
}
body > header nav {
	width: 60%;
	float: right;
}
body > header ol {text-align: center;}
nav li {
	display: inline-block;
	text-align: center;
	width: 25%;
	list-style: none;
}
body > header nav a {
	display: block;
	line-height: 3em;
}
body > header nav a:hover, #install li a:hover, #index_menu li a:hover {
	background-color:rgba(0,0,0,1);
	text-decoration: none;
}
aside {
	background-color: #fff;
	overflow: hidden;
}
aside,aside  > div {height: 21vw;}
aside  > div {
/*	box-shadow: 0 0 5px #000 inset;*/
	clear: both;
	position: relative;

	-moz-animation: slider 20s linear infinite; /* Firefox */
	-webkit-animation: slider 20s linear infinite; /* Safari and Chrome */
	animation: slider 20s linear infinite; /* w3c */
}
	
/* Firefox */
@-moz-keyframes slider {
	0% {top: 0px;}
	
	22% {top: 0px;}
	25% {top: -21vw;}
	
	47% {top: -21vw;}
	50% {top: -42vw;}
	
	72% {top: -42vw;}
	75% {top: -63vw;}
	
	87% {top: -63vw;}
	89.9998% {top: -84vw;}
	
	89.9999% {top: 0px;}
	100% {top: 0px;}
	
}
/*Safari and Chrome*/
@-webkit-keyframes slider {
	0% {top: 0px;}
	
	22% {top: 0px;}
	25% {top: -21vw;}
	
	47% {top: -21vw;}
	50% {top: -42vw;}
	
	72% {top: -42vw;}
	75% {top: -63vw;}
	
	97% {top: -63vw;}
	99.9999% {top: -84vw;}
	
	100% {top: 0px;}
}
/* w3c */
@keyframes slider {
	0% {top: 0px;}
	
	22% {top: 0px;}
	25% {top: -21vw;}
	
	47% {top: -21vw;}
	50% {top: -42vw;}
	
	72% {top: -42vw;}
	75% {top: -63vw;}
	
	97% {top: -63vw;}
	99.9999% {top: -84vw;}
	
	100% {top: 0px;}
}
aside  > div:first-child, aside  > div:last-child {
	background: url('../image/slide_01.jpg') no-repeat 10vw 0;
	background-size: contain;
}
/*aside  > div:first-child h2, aside  > div:first-child p{padding:1.6em 0 0;}*/
aside  > div:nth-child(2) {
	background: url('../image/slide_03.jpg') no-repeat 62vw 0;
	background-size: contain;
}
aside  > div:nth-child(3) {
	background: url('../image/slide_05.jpg') no-repeat 10vw 0;
	background-size: contain;
}
aside  > div:nth-child(4) {
	background: url('../image/slide_04.jpg') no-repeat 62vw 0;
	background-size: contain;
}
aside p, aside h2 {
	line-height: 1.5em;
	margin: 0 10vw 0 44vw;
	padding: .5em 0 0;
	text-align: left;
	width: 46vw;
}
aside div:nth-child(2n) h2, aside div:nth-child(2n) p {
	margin: 0 44vw 0 10vw
}
aside h2 {
	color: #099;
	font-size: 3vw;
}

aside p {
	color: #333;
	font-size: 1.5vw;
}
aside img {float: left;}


article {
	margin: 0 auto;
	max-width: 800px;
}
#install h3 {
	background-repeat: no-repeat;
	background-position: 0 .6em;
	background-size: 1em;
	padding: 0 0 0 1.5em;
}
h3.ff {background-image: url("../image/firefox-icon.png");}
h3.chrome {background-image: url("../image/chrome-icon.png");}
h3.opera {background-image: url("../image/opera-icon.png");}

article#install ol, #screen div {
	padding: 0 2em;
	text-align: center;
	-moz-text-align-last: justify;
	-webkit-text-align-last: justify;
	text-align-last: justify;
}
#install{counter-reset: cf;}
#install li, #index_menu li, #services li,
#screen figure{
	list-style: none;
    display: inline-block;
	-moz-text-align-last: center;
	-webkit-text-align-last: center;
	text-align-last: center;
}
#install li:before {
	content: "";
	display: inline-block;
	height: 140px;
	line-height: 140px;
	vertical-align: middle;
}
#install li a, #index_menu li a, #screen figure {
	border: 1px dashed;			display: inline-block;			height: 120px;
	line-height: 1.8em;			margin: 0;						padding: 20px;
	text-align: center;			vertical-align: middle;			width: 120px;
	position:relative;
}
#install a:before {
    color: rgba(255, 255, 255, 0.25);
	counter-increment: cf;
    content: counter(cf);
    display: block;
    font-size: 120px;
    height: 120px;
    line-height: 140px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 120px;
    z-index: -1;
}
#install a.s_ok {color: #009900;cursor: default;}
#install a.s_ok s {color: grey;}
#install a.s_ok:before {
	content: '';
}
#install a.s_ok:hover {
	background-color: rgba(0, 0, 0, 0.5);
	color: #009900;
}
#screen figure {
	height: 226px;
	padding: 0;
	width: 160px;
	cursor: pointer;
}
#screen figure p {margin:0;}
#screen figure {border-color: #099;}
#screen figure:hover{border-color: #f06}
#screen figure:hover figcaption{color: #f06;}
#screen figure figcaption{color: #099;}

footer{
	margin: 3em auto 1em;
	text-align: center;
}

#index_menu {
	height: 100%;
	text-align: center;
}
#index_menu:after/*, #index_menu:before */{
	content: "";
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}
#index_menu li a {line-height: 110px;}

noscript {
	display: block;
	margin: 2em auto;
	text-align: center;
	width: 100%;
}
noscript a {
	background-color: #099;
	color: #ddd;
	font-size: 1.5em;
	padding: 0.25em 1em;
}
noscript a:hover {
	background-color: #f06;
	color: #ddd;
	text-decoration: none;
}

@media (max-width:900px){
	body > header {background-color: transparent;box-shadow: none;}
	body > header h1 {float:none;margin:0 auto 1em;width:100%;}
	body > header nav {
		clear:both;float:none;width:100%;
		background-color: rgba(0,0,0,.5);
		box-shadow: 0 0 5px #000 inset;
	}
	body > section > article {width: 90%;}
}

/* START global */
.r{float:right;} /* box left */
.l{float:left;} /* box right */

.t_l {text-align: left;} /* text left */
.t_r {text-align: right;} /* text right */
.t_c {text-align: center;} /* text center */
.t_b {font-weight: bold;} /* text bold */

.lh_0 {line-height: 0;} 

.clear{clear:both!important;}
.none{display:none!important;} /* hide */
.block{display:block!important;}
.inlineBlock{display:inline-block!important;}
/* END global */